digest.json
{
  "name": "digest",
  "nodes": [
    {
      "parameters": {
        "operation": "select",
        "schema": { "__rl": true, "mode": "list", "value": "public" },
        "table": { "__rl": true, "value": "jobs", "mode": "list", "cachedResultName": "jobs" },
        "where": { "values": [ { "column": "fit_score", "condition": ">=", "value": "60" } ] },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [208, 0],
      "id": "c2dce94d-88e2-4134-b044-4f8410ab7050",
      "name": "Select rows from a table",
      "credentials": { "postgres": { "id": "YOUR_POSTGRES_CRED_ID", "name": "Postgres account" } }
    },
    {
      "parameters": {
        "jsCode": "const jobs = $input.all();\n\n// Sort highest score first\njobs.sort((a, b) => (b.json.fit_score || 0) - (a.json.fit_score || 0));\n\nlet html = `<h2>Your job shortlist (${jobs.length} matches)</h2>`;\n\nfor (const j of jobs) {\n  const d = j.json;\n  html += `\n    <div style=\"margin-bottom:16px;\">\n      <strong>${d.title || 'Untitled'}</strong> — ${d.company || ''}<br>\n      ${d.location || ''} · Fit score: <strong>${d.fit_score}</strong><br>\n      <em>${d.fit_reason || ''}</em><br>\n      <a href=\"${d.url}\">View listing</a>\n    </div>`;\n}\n\nreturn [{ json: { html, count: jobs.length } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [416, 0],
      "id": "5757800b-dce8-4c8a-83ba-c54a003417b0",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "sendTo": "YOUR_EMAIL@example.com",
        "subject": "Daily job shortlist",
        "message": "={{ $json.html }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [624, 0],
      "id": "fb78a51c-931f-4526-9bed-13dd35f87249",
      "name": "Send a message",
      "webhookId": "YOUR_WEBHOOK_ID",
      "credentials": { "gmailOAuth2": { "id": "YOUR_GMAIL_CRED_ID", "name": "Gmail OAuth2 API" } }
    },
    {
      "parameters": {
        "rule": { "interval": [ { "triggerAtHour": 8 } ] }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [0, 0],
      "id": "3adb9efa-c2ab-4c78-a882-79839aebebc1",
      "name": "Schedule Trigger"
    }
  ],
  "pinData": {},
  "connections": {
    "Select rows from a table": { "main": [ [ { "node": "Code in JavaScript", "type": "main", "index": 0 } ] ] },
    "Code in JavaScript": { "main": [ [ { "node": "Send a message", "type": "main", "index": 0 } ] ] },
    "Schedule Trigger": { "main": [ [ { "node": "Select rows from a table", "type": "main", "index": 0 } ] ] }
  },
  "active": true,
  "settings": { "executionOrder": "v1", "binaryMode": "separate" },
  "versionId": "e5eb7061-44ad-41fb-a2a2-6c1fc27b1f1e",
  "meta": { "templateCredsSetupCompleted": true },
  "nodeGroups": [],
  "id": "qhAdnBObOFQ8MioQ",
  "tags": []
}