fetch-score-store.json
{
  "name": "fetch-score-store",
  "nodes": [
    {
      "parameters": {
        "url": "https://api.adzuna.com/v1/api/jobs/fr/search/1?app_id=YOUR_ADZUNA_APP_ID&app_key=YOUR_ADZUNA_APP_KEY&what_phrase=project%20manager&results_per_page=3&max_days_old=7&sort_by=date&content-type=application/json",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [208, -176],
      "id": "d7928e13-f6cc-4385-8f73-3f2d0b1e4a60",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "url": "https://api.adzuna.com/v1/api/jobs/de/search/1?app_id=YOUR_ADZUNA_APP_ID&app_key=YOUR_ADZUNA_APP_KEY&what_phrase=project%20manager&results_per_page=3&max_days_old=7&sort_by=date&content-type=application/json",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [208, 0],
      "id": "27e9013f-270d-4f4a-837f-ad0a89cfa640",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "url": "https://api.adzuna.com/v1/api/jobs/nl/search/1?app_id=YOUR_ADZUNA_APP_ID&app_key=YOUR_ADZUNA_APP_KEY&what_phrase=project%20manager&results_per_page=3&max_days_old=7&sort_by=date&content-type=application/json",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [208, 192],
      "id": "e856661d-b57c-444c-9830-c17dd0984af7",
      "name": "HTTP Request2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [416, 0],
      "id": "2393129f-f3e9-475c-9a05-89af194cdbbd",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "fieldToSplitOut": "results",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [624, 0],
      "id": "14490971-1e36-4a06-8c34-cf6683421dd5",
      "name": "Split Out"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "0ebc1d70-12c7-44d0-af06-9d732a0d675f", "name": "Job Title", "value": "={{ $json.title }}", "type": "string" },
            { "id": "8bbb33f3-b5dc-490e-ada5-6124bf56acdd", "name": "Company", "value": "={{ $json.company }}", "type": "object" },
            { "id": "f4ebb734-4c90-4985-b301-dfacf0fea798", "name": "Location", "value": "={{ $json.location.display_name }}", "type": "string" },
            { "id": "1fa19a22-168e-4021-84bf-ac632bff6133", "name": "Salary_min", "value": "={{ $json.salary_is_predicted }}", "type": "string" },
            { "id": "75b16f38-ca53-487f-9f09-2d050988dbe7", "name": "url", "value": "={{ $json.redirect_url }}", "type": "string" },
            { "id": "660d0e28-1b2b-4fdb-9e1c-d67eca5ab534", "name": "Description", "value": "={{ $json.description }}", "type": "string" }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [832, 0],
      "id": "f79560cd-5664-4537-bf0a-80f6e45ad378",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "compare": "selectedFields",
        "fieldsToCompare": "url",
        "options": {}
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [1040, 0],
      "id": "cb89ef4e-b055-47cb-86bb-c97d5ddb47a1",
      "name": "Remove Duplicates"
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": { "__rl": true, "mode": "list", "value": "public" },
        "table": { "__rl": true, "value": "jobs", "mode": "list", "cachedResultName": "jobs" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "title": "={{ $json['Job Title'] }}",
            "company": "={{ $json.Company }}",
            "location": "={{ $json.Location }}",
            "url": "={{ $json.url }}",
            "description": "={{ $json.Description }}",
            "fit_score": "={{ $json.fit_score }}",
            "fit_reason": "={{ $json.fit_reason }}"
          },
          "matchingColumns": ["url"],
          "schema": [
            { "id": "id", "displayName": "id", "required": false, "defaultMatch": true, "display": true, "type": "number", "canBeUsedToMatch": true, "removed": true },
            { "id": "title", "displayName": "title", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false },
            { "id": "company", "displayName": "company", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false, "removed": false },
            { "id": "location", "displayName": "location", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false },
            { "id": "salary_min", "displayName": "salary_min", "required": false, "defaultMatch": false, "display": true, "type": "number", "canBeUsedToMatch": false, "removed": true },
            { "id": "url", "displayName": "url", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true, "removed": false },
            { "id": "description", "displayName": "description", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false },
            { "id": "country", "displayName": "country", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false, "removed": true },
            { "id": "fit_score", "displayName": "fit_score", "required": false, "defaultMatch": false, "display": true, "type": "number", "canBeUsedToMatch": false, "removed": false },
            { "id": "fit_reason", "displayName": "fit_reason", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false, "removed": false },
            { "id": "status", "displayName": "status", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": false, "removed": true },
            { "id": "created_at", "displayName": "created_at", "required": false, "defaultMatch": false, "display": true, "type": "dateTime", "canBeUsedToMatch": false, "removed": true }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [1760, 0],
      "id": "67256a97-6881-4f17-b6e1-09f1ef397055",
      "name": "Insert or update rows in a table",
      "credentials": { "postgres": { "id": "YOUR_POSTGRES_CRED_ID", "name": "Postgres account" } }
    },
    {
      "parameters": {
        "modelId": { "__rl": true, "value": "claude-opus-4-7", "mode": "list", "cachedResultName": "claude-opus-4-7" },
        "messages": {
          "values": [
            {
              "content": "=You are scoring how well a job listing fits a specific candidate.\n\nCANDIDATE PROFILE:\nInternational management student based in Rotterdam, French background, looking for project manager roles in France, Germany, or the Netherlands. Reads French, English, and German. Background in project management, ML, and international management (master's from RSM Rotterdam). Open to relocation.\n\nJOB LISTING:\nTitle: {{ $json['Job Title'] }}\nCompany: {{ $json.Company.display_name }}\nLocation: {{ $json.Location }}\nDescription: {{ $json.Description }}\n\nScore how well this job fits the candidate from 0 to 100, considering role match, location, and language. Reply with ONLY a JSON object, no other text, no markdown, in exactly this format:\n{\"score\": <number 0-100>, \"reason\": \"<one short sentence>\"}"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.anthropic",
      "typeVersion": 1,
      "position": [1264, 0],
      "id": "2754eaa6-358e-4524-bbcf-3643f774aa96",
      "name": "Message a model",
      "credentials": { "anthropicApi": { "id": "YOUR_ANTHROPIC_CRED_ID", "name": "Anthropic account" } }
    },
    {
      "parameters": {
        "jsCode": "const results = [];\nconst jobs = $('Edit Fields').all();\nconst replies = $('Message a model').all();\n\nfor (let i = 0; i < jobs.length; i++) {\n  const job = jobs[i].json;\n  let score = null;\n  let reason = \"Could not parse\";\n\n  try {\n    const text = replies[i].json.content[0].text;\n    const parsed = JSON.parse(text.trim());\n    score = parsed.score;\n    reason = parsed.reason;\n  } catch (e) {\n    reason = \"Parse failed: \" + e.message;\n  }\n\n  results.push({\n    json: {\n      ...job,\n      fit_score: score,\n      fit_reason: reason\n    }\n  });\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1568, 0],
      "id": "db8987d9-6559-48d1-8e7d-da2afe9c7cb0",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "rule": { "interval": [ { "triggerAtHour": 8 } ] }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [0, 0],
      "id": "0b13167b-c4b9-4c56-ae6f-7daed6540269",
      "name": "Schedule Trigger"
    }
  ],
  "pinData": {},
  "connections": {
    "HTTP Request1": { "main": [ [ { "node": "No Operation, do nothing", "type": "main", "index": 0 } ] ] },
    "HTTP Request": { "main": [ [ { "node": "No Operation, do nothing", "type": "main", "index": 0 } ] ] },
    "HTTP Request2": { "main": [ [ { "node": "No Operation, do nothing", "type": "main", "index": 0 } ] ] },
    "No Operation, do nothing": { "main": [ [ { "node": "Split Out", "type": "main", "index": 0 } ] ] },
    "Split Out": { "main": [ [ { "node": "Edit Fields", "type": "main", "index": 0 } ] ] },
    "Edit Fields": { "main": [ [ { "node": "Remove Duplicates", "type": "main", "index": 0 } ] ] },
    "Remove Duplicates": { "main": [ [ { "node": "Message a model", "type": "main", "index": 0 } ] ] },
    "Message a model": { "main": [ [ { "node": "Code in JavaScript", "type": "main", "index": 0 } ] ] },
    "Insert or update rows in a table": { "main": [ [] ] },
    "Code in JavaScript": { "main": [ [ { "node": "Insert or update rows in a table", "type": "main", "index": 0 } ] ] },
    "Schedule Trigger": { "main": [ [ { "node": "HTTP Request1", "type": "main", "index": 0 }, { "node": "HTTP Request2", "type": "main", "index": 0 }, { "node": "HTTP Request", "type": "main", "index": 0 } ] ] }
  },
  "active": true,
  "settings": { "executionOrder": "v1", "binaryMode": "separate" },
  "versionId": "6e54de72-ab40-456f-8246-2eefb7faf299",
  "meta": { "templateCredsSetupCompleted": true },
  "nodeGroups": [],
  "id": "Hdr2lVSmsbBewCGG",
  "tags": []
}